* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #0e0e0e;
}

/* Filter Anime */


.directory-anime-container {
    position: relative;
    margin: 0 25px;
    margin-top: 20px;
}


.directory-anime-container::after {
    content: "";
    display: table;
    clear: both;
}

.select-filter {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 /10%, );
    outline: none;
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer
}

.select-filter2 {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    background-color: #0c70de;
    box-shadow: 0 1px 1px rgb(0 0 0 /10%, );
    outline: none;
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer
}

.container-filters {
    position: absolute;
    width: 580px;
    max-width: 90vw;
    top: 100%;
    z-index: 1000;
    left: 0;
    float: left;
    min-width: 160px;
    text-align: left;
    background: white;
    border-radius: 5px;
    display: block;
}



.zoomIn {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: zoomIn;
    border: 0;
    box-shadow: 0 1px 1px rgb(0, 0, 0 / 10%);
    padding: 10px;
    margin-top: 10px !important;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

.container-filters .selected-box {
    width: 33%;
    float: left;
    font-size: 12px;
    padding: 0;
    text-overflow: ellipsis;
}

.selected-box input[type="checkbox"] {
    display: none;    
}

.selected-box input[type="checkbox"] + .filter-selected-checkbox {
    position: relative;
    line-height: 30px;
    padding: 5px 10px 5px 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all;
    color: #333;
}

.selected-box input[type="checkbox"]:checked + .filter-selected-checkbox {
    position: relative;
    transition: .2s;
    font-size: 15px;
    color: #0c70de;
    background-color: white;
    vertical-align: middle;
    line-height: 30px;
}

.selected-box input[type="checkbox"]:checked+.filter-selected-checkbox::before {
    background-color: #0c70de;
}

.filter-selected-checkbox::before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    border-radius: 2px;
    background-color: #e0e1e2;
    height: 12px;
    width: 12px;
    transition: 0.2s;
    margin-left: -20px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.show {
    display: block;
}

/* End of Filter Anime  */

/* Directory Anime */

.anime-container-text {
    color: white;
    position: relative;
    font-size: 35px;
    margin-left: 20px;
}

.container-anime {
    position: relative;
    width: 100%;
    height: 720px;
}

.latest-animes {
    position: relative;
}

.anime-title {
    position: relative;
    color: white;
    border-radius: 5px 0px 5px 0px;
    text-align: center;
    height: 30px;
}

.info-anime {
    position: relative;
    float: left;
    width: 11%;
    padding: 10px;
    left: 15px;
}

.info-anime .anime-type {
    position: absolute;
    background: #0c70de;
    bottom: 48px;
    border-radius: 5px 0 5px 0;
    color: white;
    padding: 5px;
    right: 9px;
}

#anime-latest-image {
    width: 100%;
    height: 250px;
    margin: 1px;
    border-radius: 5px;
}

.pagination {
    position: relative;
    display: inline-block;
    padding-left: 0;
    margin-top: 20px;
    border-radius: 4px;
    margin-left: 35%;
}

@media screen and (max-width: 500px) {
    .pagination {
        margin-left: 0;
        left: 100px;
    }
}

.pagination a {
    position: relative;
    box-shadow: 0 1px 1px 1px 0 / 10%;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    margin: 0 3px 6px;
    font-size: 15px;
    font-weight: 700;
    color: black;
    float: left;
    padding: 6px 12px;
    line-height: 1.42;
    cursor: pointer;
}


@media screen and (max-width: 1409px) {
    .info-anime {
        width: 19%;
    }
}

@media screen and (max-width: 1250px) {
    .info-anime {
        width: 25%;
        left: 0;
    }
}

@media screen and (max-width: 828px) {
    .info-anime {
        width: 32%;
    }
}

@media screen and (max-width: 500px) {
    .info-anime {
        width: 49%;
    }
}

.container-anime::after {
    content: "";
    clear: both;
    display: table;
}

/* End of Directory Anime */