* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Mono', monospace;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #202125;
}



img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Trending Animes */

.container-primary {
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  margin-top: -200px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  user-select: none;
  background: #2a2b31;
}

.prev:hover, .next:hover {
  background-color: green;
}


.prev {
  position: relative;
  top: -20px;
  float: right;
}

.next {
  position: relative;
  float: right;
  top: 60px;
}

.ranking-number {
  position: absolute;
  font-size: 30px;
  top: 100px;
  left: 40px;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 24;
}

.title-name {
  position: absolute;
  font-size: 60px;
  top: 170px;
  left: 40px;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 24;

}

.anime-type {
  position: absolute;
  font-size: 25px;
  top: 265px;
  left: 40px;
  color: white;
  padding: 1px 5px;
  border-radius: 5px;
  z-index: 24;
}

.description {
  position: absolute;
  font-size: 25px;
  top: 310px;
  left: 40px;
  color: white;
  padding: 1px 5px;
  border-radius: 5px;
  width: 900px;
  z-index: 24;
}

.trending-anime {
  position: relative;
}

.trending-anime img{
  height: 550px;
  width: 100%;
  object-fit: cover;
}

.trending-anime::before {
  box-shadow: inset 1000px 0 100px 0 #000;
  opacity: 0.5;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/* End Trending Animes */


/* Latest Anime Episodes  */

.container-episodes {
  position: relative;
}

.episode-header {
  top: 15px;
  color: white;
  position: relative;
  font-size: 35px;
  margin-left: 20px;
  
}

.latest-episodes {
  position: relative;

}

.episode-info {
  float: left;
  width: 20%;
  padding: 10px;
}

.title-episode{
  position: relative;
  display: flex;
  float: right;
  background: white;
  color: black;
  border-radius: 0px 0px 0px 5px;
  padding: 5px;
  top: 30px
}

.title-anime {
  position: relative;
  display: flex;
  float: left;
  background: white;
  color: black;
  border-radius: 0px 5px 0px 0px;
  padding: 5px;
  top: -35px;

}

#episode-latest-image {
  width: 100%;
  margin: 1px;
  border-radius: 5px;
  
}

/* End Latest Anime Episodes  */

@media screen and (max-width: 1331px) {
  .episode-info {
      width: 25%;
  }
}

@media screen and (max-width: 1144px) {
  .episode-info {
      width: 340px;
  }
}

@media screen and (max-width: 1100px) {
  .episode-info {
      width: 50%;
  }
  .description {
      width: 800px;
  }
}

@media screen and (max-width: 881px) {
  .description {
      width: 700px;
      font-size: 20px;
  }
}

@media screen and (max-width: 773px) {
  .description {
      width: 600px;
      font-size: 20px;
  }
}

@media screen and (max-width: 691px) {
  .description {
      width: 500px;
      font-size: 20px;
  }
}

@media screen and (max-width: 630px) {
  .episode-info {
      width: 100%;
  }
}

@media screen and (max-width: 575px) {
   .description {
      width: 400px;
      font-size: 15px;
   }
}

@media screen and (max-width: 518px) {
  .description {
      width: 350px;
      font-size: 16px;
  }
}

@media screen and (max-width: 414px) {
  .ranking-number {
      left: 10px;
  }
  .title-name {
      left: 10px;
  }
  .anime-type {
      left: 10px;
  }
  .description {
      left: 10px;
      width: 300px;
      font-size: 20px;
  }
}


.container-episodes::after {
  content: "";
  clear: both;
  display: table;
}


/* Latest Animes Added */

.container-anime {
  position: relative;
  width: 100%;
}

.anime-header {
  color: white;
  position: relative;
  font-size: 35px;
  margin-left: 20px;
}

.latest-animes {
  position: relative;
}

.anime-title {
  position: relative;
  top: 24px;
  font-size: 20px;
  padding:0 5px;
  border-radius: 0 0 5px 0;
  color: white;
  background-color:#000000;
}

.info-anime {
  float: left;
  width: 12%;
  padding: 10px;
}

#anime-latest-image {
  width: 100%;
  margin: 1px;
}

/* End of Latest Animes Added  */


@media screen and (max-width: 1300px) {
  .info-anime {
      width: 20%;
  }
}

@media screen and (max-width: 1080px) {
  .info-anime {
      width: 25%;
  }
}

@media screen and (max-width: 620px) {
  .info-anime {
      width: 40%;
  }
}
.container-anime::after {
  content: "";
  clear: both;
  display: table;
}




