body {
    font-family: 'Noto Sans Mono', monospace;
    background: #2a2a2a;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.anime-container {
    position: relative;
    padding: 0 25px;
    margin-top: 25px;
}

.anime-container::before {
    content: "";
    clear: both;
    display: table;
}

.anime-image-feature img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.anime-image-portrait {
    position: relative;
    margin-left: 50px;
    height: 300px;
    bottom: 80px;
}

.anime-image-portrait img {
    border-radius: 10px;
    height: 350px;
}

.anime-info {
    position: absolute;
    top: 370px;
    margin-left: 320px;
    margin-right: 100px;
}

.anime-title {
    position: relative;
    color: white;
    font-size: 30px;
}

.genres {
    position: relative;
    display: flex;
    float: left;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 2px 2px;
    margin: 5px 5px;
}

.anime-genres::after {
    content: "";
    clear: both;
    display: table;
}

.rating {
    position: relative;
    display: table;
    float: left;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    color: #111;
    padding: 2px 2px;
    margin: 5px 5px;
}

.stats2::after {
    content: "";
    clear: both;
    display: table;
}

.anime-description {
    margin-top: 10px;
    position: relative;
    color: white;
}

.anime-info-container {
    position: relative;
}

.info-title {
    position: relative;
    color: white;
    font-size: 25px;
}

.season-btn {
    position: relative;
    float: left;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px 12px;
    margin: 5px 5px;
}

.seasons::after {
    content: "";
    clear: both;
    display: table;
}

.episode-title {
    position: relative;
    color: white;
    font-size: 30px;
}

.episode-info {
    position: relative;
    display: flex;
    float: left;
    width: 16%;
    margin: 5px;
}

.title-episode {
    position: absolute;
    background: white;
    border-radius: 5px 0 5px 0;
    padding: 3px;
    color: black;
}

#episode-latest-image {
    width: 100%;
    margin: 1px;
    border-radius: 5px;
}

.anime-info-container::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 1140px) {
    .episode-info {
        width: 30%;
    }
}

@media screen and (max-width: 858px) {
    .anime-image-portrait {
        display: none;
    }

    .anime-info {
        position: relative;
        top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .episode-info {
        width: 45%;
    }
}

@media screen and (max-width: 450px) {
    .episode-info {
        width: 100%;
    }
}

.container-comments {
    position: relative;
}

.comments-title {
    position: relative;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.user-profile img {
    width: 5%;
    border-radius: 10px;
}

.section2-comments {
    position: relative;
}

#textarea {
    resize: none;
    background-color: #4c4f57;
    color: white;
    border-radius: 0.3rem;
    font-size: 15px;
    border: none!important;
    overflow: hidden;
    padding: 0.375rem 0.75rem;
}

.error-login {
    color: white;
}

.error-login a {
    color: black;
}

.user-comments {
    position: relative;
    margin-top: 30px;
    margin-right: 500px;
}

.user-comment {
    position: absolute;
    top: 10px;
    left: 100px;
    color: #c8c8c8;
}