* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Noto Sans Mono', monospace;
    background: #2a2a2a;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;  
}

#background-anime {
    position: absolute;
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.anime-background {
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

.anime-content {
    position: relative;
    padding: 100px 100px;
}

.anime-details {
    position: relative;
    padding-left: 100px;
}

.image-portrait {
    width: 0;
}

#anime-poster{
    height: 314px;
}

.anime-title {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 360px;
    width: 50%;
}

.anime-stats {
    position: absolute;
    left: 360px;
    top: 80px;
}

.anime-genres {
    position: relative;
    border-radius: 5px;
    top: -20px;
    width: 650px;
}

.genres {
    position: relative;
    display: flex;
    float: left;
    background: white;
    color: black;
    border-radius: 5px;
    padding: 2px 2px;
    margin: 5px 5px;
    top: -10px;
    left: -5px;
}


.stats2 {
    position: relative;
    display: flex;
    color: white;
    width: 500px;
}

.rating {
    position: relative;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    color: #111;
}

.anime-type {
    position: relative;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    color: #111;
    left: 5px;
}

.anime-episodes {
    position: relative;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    color: #111;
    left: 10px;
}

.anime-seasonal {
    position: relative;
    left: 20px;
    color: #913F0E;
    letter-spacing: 1px;
}

.anime-description {
    position: relative;
    color: white;
    width: 800px;
    font-size: 17px;
    top: 20px;
}

@media screen and (max-width: 1169px) {
    .anime-description {
        width: 500px;
    }
}

#more {display: none;}


.myBtn {
    cursor: pointer;
    
}

@media screen and (max-width: 1599px) {
    .anime-details {
        top: -40px;
        left: -100px;
    }
}

.season-info {
    position: relative;
    background: rgb(37, 37, 37);
}

.container {
    padding: 0 20px;
}


.container .title {
    font-size: 22px;
    line-height: 50px;
    font-weight: 600;
    color: white;
}


.season-btn {
    position: relative;
    background: #5a6268;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    line-height: 100px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 15px 15px;
}

.season-btn:hover {
    color: rgb(122, 206, 105);
}


.container-episodes {
    padding: 0 20px;

}

.episode-info {
    position: relative;
    display: flex;
    float: left;
    width: 15%;
    padding: 10px;
}

.title-episode {
    position: absolute;
    background: #06d525;
    border-radius: 0 0 3px 0;
    
}

#episode-latest-image {
    width: 100%;
    margin: 1px;
    border-radius: 5px;
}

/* Clearfix (clear floats) */
.season-info::after {
    content: "";
    clear: both;
    display: table;
  }