/* Filter Anime */


.directory-anime-container {
    position: relative;
    margin: 0 25px;
    margin-top: 20px;
}


.directory-anime-container::after {
    content: "";
    display: table;
    clear: both;
}

.select-filter {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 /10%, );
    outline: none;
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer
}

.select-filter2 {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    background-color: #0c70de;
    color: white;
    box-shadow: 0 1px 1px rgb(0 0 0 /10%, );
    outline: none;
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer
}

.container-filters {
    position: absolute;
    width: 580px;
    max-width: 90vw;
    top: 100%;
    z-index: 1000;
    left: 0;
    float: left;
    min-width: 160px;
    text-align: left;
    background: white;
    border-radius: 5px;
    display: none;
}



.zoomIn {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: zoomIn;
    border: 0;
    box-shadow: 0 1px 1px rgb(0, 0, 0 / 10%);
    padding: 10px;
    margin-top: 10px !important;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

.container-filters .selected-box {
    width: 33%;
    float: left;
    font-size: 12px;
    padding: 0;
    text-overflow: ellipsis;
}

.selected-box input[type="checkbox"] {
    display: none;
}

.selected-box input[type="checkbox"]+.filter-selected-checkbox {
    position: relative;
    line-height: 30px;
    padding: 5px 10px 5px 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s all;
    color: #333;
}

.selected-box input[type="checkbox"]:checked+.filter-selected-checkbox {
    position: relative;
    transition: .2s;
    font-size: 15px;
    color: #0c70de;
    background-color: white;
    vertical-align: middle;
    line-height: 30px;
}

.selected-box input[type="checkbox"]:checked+.filter-selected-checkbox::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 11px;
    color: white;
    position: absolute;
    left: 5px;
}

.selected-box input[type="checkbox"]:checked+.filter-selected-checkbox::before {
    background-color: #0c70de;
}

.filter-selected-checkbox::before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    border-radius: 2px;
    background-color: #e0e1e2;
    height: 12px;
    width: 12px;
    transition: 0.2s;
    margin-left: -20px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.show {
    display: block;
}

/* End of Filter Anime  */

/* Directory Anime */

.anime-container-text {
    color: white;
    position: relative;
    font-size: 35px;
    margin-left: 20px;
}

.container-anime {
    position: relative;
    width: 100%;
}

.latest-animes {
    position: relative;
}

.info-anime {
    width: calc(10% - 16px);
    margin: 0 7px 14px;
    float: left;
    background: #2a2c31;
    border-radius: 0;
    position: relative;
    transition: 0.3s;
}

.film-details {
    position: relative;
    font-size: 12px;
    padding: 10px;
    min-height: 84px;
    background: #2a2c31;
}

.film-poster #airing {
    background: rgb(18, 113, 18);
}

.film-poster #soon {
    background: rgb(66, 66, 66);
}

.film-poster #completed {
    background: rgb(137, 18, 18);
}

.anime-title {
    font-size: 14px;
    line-height: 1.3em;
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
    height: 37px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white;
}

.anime-status {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: auto;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 4px 6px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 30%);
    min-width: 36px;
    text-align: center;
    font-size: 12px;
}

.anime-info {
    position: relative;
    opacity: 0.8;
    display: flex;
    color: #aaa;
    justify-content: space-around;
}

.anime-type {
    position: relative;
    left: -10px;
}

.anime-year {
    position: relative;
    right: -10px;
}

.film-poster {
    border-radius: 0;
    padding-bottom: 130%;
    font-size: 0;
}

#anime-latest-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pagination {
    position: relative;
    display: flex;
    justify-content: center;
}

.pagination a {
    position: relative;
    border-radius: 5px;
    margin: 0 3px 6px;
    background: white;
    font-size: 15px;
    font-weight: 700;
    color: black;
    float: left;
    padding: 6px 12px;
    line-height: 1.42;
    cursor: pointer;
}


@media screen and (max-width: 1526px) {
    .info-anime {
        width: 13%;
    }
}

@media screen and (max-width: 1250px) {
    .info-anime {
        width: calc(19% - 5px);
        left: 0;
    }
}

@media screen and (max-width: 899px) {
    .info-anime {
        width: 23%;
    }
}

@media screen and (max-width: 700px) {
    .info-anime {
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .info-anime {
        width: 43%;
        left: 10px;
    }
}

.container-anime::after {
    content: "";
    clear: both;
    display: table;
}

/* End of Directory Anime */