:root {
    --hover-button: rgb(40, 40, 40);
    --hover-text: white;
}

body {
    background: #0e0e0e;
}

.main-container {
    position: relative;
    padding: 0 20px;
}

.servers-episode {
    position: relative;
    display: flex;
}

.server-name {
    position: relative;
    background: white;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

.server-name:hover {
    background: var(--hover-button);
    color: var(--hover-text);
}

.episode-container {
    position: relative;
}

.jwplayer {
    position: relative;
    border-radius: 5px;
    color: white;
}

#container1 .jw-settings-content-item:hover {
    color: #0c70de;
}

#container1 .jw-button-color:hover:not(.jw-icon-cast) {
    color: white;
}

.jw-button-color {
    color: white;
}

.jw-logo-button {
    display:none;
}

.controllers {
    position: relative;
    display: flex;
    background: red;
}

.control {
    position: relative;
    color: white;
    cursor: pointer;
    margin: 0 15px;
}

.controller-content::after {
    content: "";
    display: table;
    clear: both;
}

.anime-episode {
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
}

.episode-title {
    color: rgb(223, 223, 223);
    font-size: 25px;
    padding-bottom: 10px;
}

.container-comments {
    position: relative;
}

.comments-title {
    position: relative;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.user-profile img {
    border-radius: 10px;
    min-width: 90px;
}

.section-comments {
    position: relative;
}

.section2-comments {
    position: relative;
    margin-left: 100px;
    top: -10px;
}

#textarea {
    resize: none;
    background-color: #4c4f57;
    color: white;
    border-radius: 0.3rem;
    font-size: 15px;
    border: none!important;
    padding: 0 5px;
}

#textarea::placeholder {
    color: white;
    padding: 5px;
}

.error-login {
    color: white;
}

.error-login a {
    color: black;
}

.user-profile {
    position: absolute;
}

#user-profile {
    width: 13%;
}

.user-container-commented {
    position: relative;
}

.user-commented {
    margin-top: 10px;
    margin-bottom: 50px;
}

.user-username {
    margin-left: 100px;
    color: white;
}

.user-comment {
    margin-left: 100px;
}

p.text-l {
    color: white;
}

#more-comments {
    position: relative;
    margin-left: 350px;
    font-size: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 953px) {
    #textarea {
        width: 100%;
    }
}


.episode-title {
    position: relative;
    color: white;
    font-size: 30px;
}

.episode-info {
    position: relative;
    display: flex;
    float: left;
    width: 16%;
    margin: 5px;
}

.title-episode {
    position: absolute;
    background: #0c70de;
    border-radius: 5px 0 5px 0;
    padding: 2px 5px;
    color: white;
}

#episode-latest-image {
    width: 100%;
    margin: 1px;
    border-radius: 5px;
}

.more-episodes-container::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 1538px) {
    .episode-info {
        width: 15%;
    }
}

@media screen and (max-width: 1220px ) {
    #video-player {
        width: 100%;
    }

}

@media screen and (max-width: 1206px) {
    .episode-info {
        width: 24%;
    }
}

@media screen and (max-width: 1038px) {
    .episode-info {
        width: 32%
    }
}

@media screen and (max-width: 789px) {
    .episode-info {
        width: 48%;
    }
}

@media screen and (max-width: 858px) {
    .anime-info {
        position: relative;
        top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .episode-info {
        width: 45%;
    }
}

@media screen and (max-width: 450px) {
    .episode-info {
        width: 100%;
    }
}

