
body {
    background: #202125;
}

.main-container {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    
}

.episode-container {
    position: relative;
}

.title-episode {
    color: white;
    font-size: 40px;
    padding-bottom: 10px;
}

#video-player {
    border-radius: 5px;
    width: 50%;
}

.container-comments {
    position: relative;
}

.comments-title {
    position: relative;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.user-profile img {
    border-radius: 10px;
    min-width: 90px;
}

.section-comments {
    position: relative;
}

.section2-comments {
    position: relative;
    margin-left: 100px;
    top: -10px;
}

#textarea {
    resize: none;
    background-color: #4c4f57;
    color: white;
    border-radius: 0.3rem;
    font-size: 15px;
    border: none!important;
    padding: 0 5px;
}

#textarea::placeholder {
    color: white;
    padding: 5px;
}

.error-login {
    color: white;
}

.error-login a {
    color: black;
}

.user-profile {
    position: absolute;
}

#user-profile {
    width: 13%;
}

.user-container-commented {
    position: relative;
}

.user-commented {
    margin-top: 10px;
    margin-bottom: 50px;
}

.user-username {
    margin-left: 100px;
    color: white;
}

.user-comment {
    margin-left: 100px;
}

p.text-l {
    color: white;
}

#more-comments {
    position: relative;
    margin-left: 350px;
    font-size: 20px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width: 953px) {
    #textarea {
        width: 100%;
    }
}