*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #202125;
}

.episode-container {
    position: relative;
    padding: 0 15px;
}

.title-episode {
    color: white;
    font-size: 40px;
    padding-bottom: 10px;
}

#video-player {
    border-radius: 5px;
    width: 50%;
}

.video-controllers {
    color: white;
    font-size: 20px;
}


.container-comments {
    position: relative;
    left: 20px;
    width: 900px;
    height: 500px;
    background-color: aliceblue;
}

