@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@500&display=swap');

* {
    font-family: 'IBM Plex Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #0e0e0e;
}

body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* Start of Sidebar */

.sidebar {
    height: 100%;
    width: 320px;
    background: #2a2c31;
    position: absolute;
    z-index: 9000;
    transition: 0.5s ease;
    transform: translateX(-420px);
}

.close-menu {
    position: relative;
    width: 100%;
}

.closebtn {
    position: relative;
    background: #5a6268;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    line-height: 100px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 15px 15px;
}

.closebtn:hover {
    background: rgb(67, 67, 67);
}

#login {
    background: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin: 15px 20px;
}

#login:hover {
    background: #0c70de;
    color: white;
}

.sidebar ul {
    width: 100%;
    list-style: none;
}

.sidebar ul li {
    display: block;
    width: 100%;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
}

.sidebar ul li:hover a {
    color: #0c70de;
}

#check:checked~.sidebar {
    transform: translateX(0);
}

/* End of Sidebar */

/* Start of Navbar */

.navbar {
    height: 80px;
    width: 100%;
    line-height: 70px;

}

#check {
    visibility: hidden;
    display: none;
}

.options-content {
    display: none;
    background: white;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.options-content a {
    color: black;
    padding: 0 5px;
    text-decoration: none;
    display: block;
}

.options-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.section {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: flex-start;
}

.section-2 {
    position: relative;
    top: -75px;
    right: 10px;
    margin-left: 60%;
    display: flex;
    justify-content: flex-end;

}

.checkbtn {
    font-size: 30px;
    padding: 0;
    color: #fff;
    cursor: pointer;
    height: 10px;
    margin-top: 5px;
    margin-left: 25px;
}

#logo {
    position: relative;
    height: 55px;
    margin-left: 20px;
    top: 5px;
}

.search input {
    margin-left: 30px;
    width: 300px;
    height: 40px;
    border: none;
    color: #111;
    border-radius: 1px;
    text-indent: 10px;
    font-size: 15px;
}

.more-information {
    position: relative;
    border-radius: 0px 0px 5px 5px;
    text-align: center;
    background: white;
    padding: 10px;
    color: black;
    bottom: 7px;
    z-index: 25;
}

.more-information:hover {
    color: white;
    background: #0c70de;
}

.search-info {
    position: absolute;
    top: 65px;
    left: 236px;
    width: 300px;
    z-index: 3;
}

.search-anime:before {
    box-shadow: inset 100px 0 100px 0 #000;
    opacity: 0.5;
    border-radius: 5px;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.search-anime {
    position: relative;
    z-index: 1;
}

#search-anime-image {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100px;
    border-radius: 5px 5px 0 0;
    z-index: 1;
}

.search-anime-title {
    position: absolute;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    top: 10px;
    left: 20px;
    z-index: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 260px;

}

.search-anime-type {
    position: absolute;
    top: 50px;
    left: 20px;
    display: table;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

#searchIcon {
    position: relative;
    color: #202125;
    cursor: pointer;
    left: -30px;
}

.social {
    position: relative;
    margin: 5px 20px;
}

.item {
    float: left;
    padding: 0 5px;
    font-size: 30px;
}

#discord {
    color: #7289da;
}

.nav-links a {
    color: white;
    transition: 0.3s;
}

.auth ul li {
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    bottom: 3px;
}

.auth ul li a {
    background: #fff;
    border-radius: 2px;
    padding: 15px;
    color: black;
    transition: 0.2s;
}

.auth ul li a:hover {
    background: #0c70de;
    color: white;
}


.fa-gear {
    position: relative;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 5px;
}

.fa-gear:hover {
    font-size: 35px;
    color: #0c70de;
}

/* End of NavBar */

@media screen and (max-width: 1031px) {
    .social {
        display: none;
    }
}

@media screen and (max-width: 885px) {
    .search {
        display: none;
    }

    .section-2 {
        margin-left: 0%;
    }

    .search-info {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .section-2 {
        display: none;
    }
}

/* Footer */

.container-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: static;
    background: #2a2c31 url('./images/footer2.jpg');
    background-position: 100%;
    margin-top: 50px
}

.footer-about {
    padding: 30px;
}

.footer-top {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    width: 400px;
    margin-left: 20px;
}

.logo-footer {
    position: relative;
    float: left;
    margin: 0 40px 0 0;
}

.item-footer {
    position: relative;
    float: left;
    margin-top: 1rem;
    margin-left: 10px;
    font-size: 30px;
}

.clear-fix {
    content: "";
    clear: both;
    display: table;
}


.footer-group .footer-line {
    margin-top: 25px;
    position: relative;
    float: left;
    padding: 0 5px 0 10px;
    border-left: 1px solid rgba(255, 255, 255, .15);
    font-size: 17px;
    color: white;
}

.footer-az {
    margin-left: 20px;
    margin-bottom: 10px;

}

.footer-az-info {
    margin-bottom: 1rem !important;
}

.az {
    display: inline-block;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    line-height: 1em;
    font-size: 1.2em;
    color: white;
    margin-left: 20px;

}

.az-info {
    color: white;
    font-size: 14px;
}

.az-bottons .button {
    position: relative;
    background: white;
    float: left;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 0 10px 10px;
    transition: 0.3s;
    font-size: 15px;
}

.az-bottons .button:hover {
    background: #0c70de;
    color: white;
}

.footer-links {
    margin-bottom: 10px;
}

.url-links ul {
    list-style: none;
    margin: 0 0 0 30px;
}

.footer-links ul li {
    float: left;
}

.footer-links ul li a {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-right: 40px;
    color: white;
    transition: 0.25s;
    font-size: 14px;
}

.footer-links ul li a:hover {
    color: #0c70de;
}

.about-text {
    margin: 0 auto 5px;
    line-height: 1.4em;
    margin-left: 30px;
    color: white;
    opacity: 0.5;
}

.copyright {
    position: relative;
    margin-left: 30px;
    opacity: 0.5;
    color: white;
}

.logo-mobile {
    text-align: center;
    display: none;
}

@media screen and (max-width: 700px) {
    .container-footer {
        background-position: -1300px;

    }
}

@media screen and (max-width: 657px) {
    .footer-az {
        display: none;
    }
}

@media screen and (max-width: 471px) {
    .footer-top {
        display: none;
    }
}

/* End Footer */