* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Trending Animes */

.anime-trending-container {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.anime-trending-text {
    position: relative;
    font-size: 25px;
    color: white;
    padding: 10px 0;
}

.anime-trending-slider {
    position: relative;
}

.anime-trending-slider img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.container-trending-info {
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 6px;
    background: linear-gradient(rgba(27, 26, 39, 0) 0%, rgba(38, 36, 65, 0.3) 40%, rgb(0, 0, 0) 100%);
    border-radius: 5px
}

.anime-trending-name {
    position: absolute;
    color: white;
    font-size: 30px;
    z-index: 2;
    margin-top: 10px;
    margin-left: 20px;
}

.anime-trending-watchnow {
    position: absolute;
    right: 0;
    background: white;
    color: #111;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    z-index: 2;
    margin-right: 20px;

}

.anime-trending-watchnow2 {
    position: absolute;
    right: 0;
    color: rgb(32, 32, 32);
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    padding: 0.75rem 1.3rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    z-index: 50;
    display: none;
}


.film-poster #airing {
    background: #0d730d;
}

.film-poster #soon {
    background: #424242;
}

.film-poster #completed {
    background: rgb(190, 19, 19);
}

/* End Trending Animes */


/* Latest Anime Episodes  */

.anime-container-flex {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.anime-container-episodes {
    /* background: red; */
    width: 100%;
}

.anime-container-text {
    color: white;
    position: relative;
    font-size: 35px;
    margin-left: 20px;
}

.episode-info {
    width: 19%;
    margin: 20px 5px;
    float: left;
    position: relative;
    transition: 0.3s;
}

.film-episode {
    padding-bottom: 43%;
}

.episode-details {
    position: relative;
    font-size: 12px;
    padding: 10px;
    min-height: 84px;
    background: #2a2c31;
}

.hover-action:hover .title-anime {
    color: #0c70de;
}

.title-episode {
    position: absolute;
    background: #0c70de;
    color: white;
    border-radius: 5px 0px 5px 0px;
    padding: 2px 5px;
    font-size: 0.9rem;
    top: 0;
    left: 0;
}

.anime-type {
    position: absolute;
    background: #0c70de;
    border-radius: 5px 0 5px 0;
    color: white;
    padding: 1px 5px;
    font-size: 0.9rem;
    right: 0;
    bottom: 0;
}

.anime-info {
    position: relative;
    opacity: 0.8;
    display: flex;
    color: #aaa;
    justify-content: space-around;
    transition: 0.3s;
}

.title-anime {
    position: relative;
    color: white;
    border-radius: 5px 0px 5px 0px;
    text-align: center;
    top: 45px;
    height: 40px;
    font-size: .85em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.2s;
}

#episode-latest-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}

.anime-container-news {
    /* background: blue; */
    width: 30%;
}

.anime-news-text {
    color: white;
    position: relative;
    font-size: 35px;
    text-align: center;
}

.anime-news-container {
    position: relative;
    max-width: 100%;
    /* background: red; */
    padding-bottom: 10px;
}

.news-text {
    position: relative;
    color: white;
    padding-left: 15px;
    min-height: 80px;
    padding-top: 10px;
    transition: 0.3s;
}

.news-text:hover {
    color: #0c70de;
}

/* End Latest Anime Episodes  */

@media screen and (max-width: 1494px) {
    .anime-container-news {
        display: none;
    }
}

@media screen and (max-width: 1233px) {
    .episode-info {
        width: calc(21% - 30px);
    }

}

@media screen and (max-width: 1100px) {
    .episode-info {
        width: 24%;
    }
    .description {
        width: 800px;
    }
}

@media screen and (max-width: 1000px) {
    .episode-info {
        width: 32%;
    }
}

@media screen and (max-width: 750px) {
    .episode-info {
        width: 48%;
    }
}

@media screen and (max-width: 500px) {
    .episode-info {
        width: 47%;
        left: 0;
    }

    .anime-trending-watchnow {
        display: none;
    }

    .anime-trending-watchnow2 {
        border-radius: 100%;
        padding: 1.5rem;
        font-size: 15px;
        margin-top: 2.3rem;
        margin-right: 15px;
        display: block;
    }

    .anime-trending-container {
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .anime-trending-name {
        font-size: 20px;
    }
}

.container-episodes::after {
    content: "";
    clear: both;
    display: table;
}

/* Latest Animes Added */

.anime-container-text {
    color: white;
    position: relative;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 20px;
}

.container-anime {
    position: relative;
    width: 100%;
}

.latest-animes {
    position: relative;
}

.info-anime {
    width: calc(10% - 16px);
    margin: 0 7px 14px;
    float: left;
    background: #2a2c31;
    border-radius: 0;
    position: relative;
    transition: 0.3s;
}

.film-details{
    position: relative;
    font-size: 12px;
    padding: 10px;
    min-height: 84px;
    background: #2a2c31;
}

.anime-title {
    font-size: 14px;
    line-height: 1.3em;
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
    height: 37px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white;
    transition: 0.3s;
}

.info-anime:hover .anime-title {
    color: rgb(136, 136, 136);
}


.anime-status {
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: auto;
    background: #0d730d;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 4px 6px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 30%);
    min-width: 36px;
    text-align: center;
    font-size: 12px;
}

.film-poster {
    border-radius: 0;
    padding-bottom: 130%;
    font-size: 0;
}

#anime-latest-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* End of Latest Animes Added  */

@media screen and (max-width: 1526px) {
    .info-anime {
        width: 13%;
    }
}

@media screen and (max-width: 1250px) {
    .info-anime {
        width: calc(19% - 5px);
        left: 0;
    }
}

@media screen and (max-width: 899px) {
    .info-anime {
        width: 23%;
    }
}

@media screen and (max-width: 700px) {
    .info-anime {
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .info-anime {
        width: 43%;
        left: 10px;
    }
}

.container-anime::after {
    content: "";
    clear: both;
    display: table;
}