* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #202125;
}

body::-webkit-scrollbar {
    width: 0.8em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
/* Start of Navbar */

.navbar {
    background: rgb(37, 37, 37);
    height: 80px;
    width: 100%;
    line-height: 70px;

}

#check {
    display: none;
}

.section {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: flex-start;

}

.checkbtn{
    font-size: 30px;
    padding: 0;
    color: #fff;
    cursor: pointer;
    height: 10px;
    margin-top: 5px;
    margin-left: 25px;
    
}

.logo {
    font-size: 40px;
    margin-left: 30px;
    color: white;
}

.search input {
    margin-left: 30px;
    width: 300px;
    height: 40px;
    border: none;
    color: #111;
    border-radius: 1px;
    text-indent: 10px;
    font-size: 15px;
}

#searchIcon {
    margin-left: -30px;
    color: #202125;
    cursor: pointer;
}

.social {
    position: relative;
    margin: 5px 20px;
}

.item {
    float: left;
    padding: 0 5px;
}

#discord {
    color: white;
    font-size: 30px;
}

.auth ul li{
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    
}

.auth ul li a {
    background: #fff;
    padding: 15px;
    border-radius: 2px;
    color: black;
}

.auth ul li a:hover{
    color: white;
    background: green;
    padding: 20px;
    transition: padding .3s
}

/* End of NavBar */

/* Start of Popuplar Slider Anime */

.prev, .next {
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    user-select: none;
    background: #2a2b31;
  }

.prev:hover, .next:hover {
    background-color: green;
}


img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.image-random img{
    height: 375px;
    width: 100%;
    object-fit: cover;

}

  
.next {
    left: 41px;
    top: -130px;
    float: right;
  }

.prev {
    top: -72px;
    float: right;
}

.title-random {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
  }



.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* End of Popular Sider Anime */


  /* Start of Latest Animes */

.header-anime {
    position: relative;
    padding: 1% 40px;
    font-size: 30px;
    color: #f2f2f2;
}

.latest-animes .anime-info{
    position: relative;
    float: left;
    width: 15%;
    left: 115px;
    
}

.anime-info img {
    width: 70%;
    border-radius: 5px;
}


.title-an {
    position: relative;
    top: 23px;
    font-size: 20px;
    padding:0 5px;
    width: 100px;
    border-radius: 3px;
    background-color:#394257;
}

.anime-type {
    position: relative;
    top: -22px;
    font-size: 15px;
    width: 20px;
    border-radius: 3px;
    background-color: #394257;
}

/* End of Latest Animes  */

.row-animes::after{
    content: "";
    display: table;
    clear: both;

}

/* Start of Latest Episodes  */

.header-text {
    position: absolute;
    padding: 1% 40px;
    font-size: 30px;
    color: #f2f2f2;
}

.header-text h2 {
    font-size: 15px;
    color: rgb(125, 125, 125);
}

.latest-episodes {
    position: relative;
    float: left;
    width: 20%;
    padding: 5px;
    
}

.episode-info img {
    border-radius: 5px;
}

#episode-latest-image {
    width: 100%;
}


.title-episode{
    position: relative;
    float: right;
    top: 23px;
    background-color: #ff7e00;
    border-radius: 2px;
    padding: 0 10px;
    font-size: 20px;
    width: 130px;
}

.title-anime {
    position: relative;
    top: -31px;
    font-size: 20px;
    padding:0 5px;
    width: 100px;
    border-radius: 3px;
    background-color:#394257;

}

@media screen and (max-width: 1331px) {
    .latest-episodes {
        width: 25%;
    }
  }


@media screen and (max-width: 1144px) {
    .latest-episodes {
        width: 340px;
    }
}

@media screen and (max-width: 1100px) {
    .latest-episodes {
        width: 50%;
    }
}

@media screen and (max-width: 630px) {
    .latest-episodes {
        width: 100%;
    }
}


