* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans Mono', monospace;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #202125;
}

body::-webkit-scrollbar {
    width: 0.8em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

  img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Start of Sidebar */

.sidebar {
    height: 100%;
    width: 320px;
    background: #2a2c31;
    position: absolute;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-420px);
}

.sidebar .head {
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 22px;
    background: #111;
    width: 200px;
    border-radius: 25px;
}

.sidebar ul {
    width: 100%;
    list-style: none;
}

.sidebar ul li {
    display: block;
    width: 100%;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
}

.sidebar ul li:hover a {
    color: rgb(7, 121, 149);
}

#check:checked ~ .sidebar{
    transform: translateX(0);
}

/* End of Sidebar */

/* Start of Navbar */

.navbar {
    background: rgb(37, 37, 37);
    height: 80px;
    width: 100%;
    line-height: 70px;

}

#check {
        visibility: hidden;
        display: none;
}

.section {
    position: relative;
    top: 5px;
    display: flex;
    justify-content: flex-start;

}

.section-2 {
    position: relative;
    top: -75px;
    right: 10px;
    margin-left: 60%;
    display: flex;
    justify-content: flex-end;

}

.checkbtn{
    font-size: 30px;
    padding: 0;
    color: #fff;
    cursor: pointer;
    height: 10px;
    margin-top: 5px;
    margin-left: 25px;
    
}

.logo {
    font-size: 40px;
    margin-left: 30px;
    color: white;
}

.search input {
    margin-left: 30px;
    width: 300px;
    height: 40px;
    border: none;
    color: #111;
    border-radius: 1px;
    text-indent: 10px;
    font-size: 15px;
}

#searchIcon {
    margin-left: -30px;
    color: #202125;
    cursor: pointer;
}

.social {
    position: relative;
    margin: 5px 20px;
}

.item {
    float: left;
    padding: 0 5px;
}

#discord {
    color: white;
    font-size: 30px;
}

.auth ul li{
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    
}

.auth ul li a {
    background: #fff;
    padding: 15px;
    border-radius: 2px;
    color: black;
}

.auth ul li a:hover{
    color: white;
    background: green;
    padding: 20px;
    transition: padding .3s
}

/* End of NavBar */


@media screen and (max-width: 1031px) {
    .social {
        display: none;
    }
}

@media screen and (max-width: 885px) {
    .search {
        display: none;
    }
    .section-2 {
        margin-left: 0%;
    }
}

@media screen and (max-width: 599px) {
    .section-2 {
        display: none;
    }
}

/* Trending Animes */

.container-primary {
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    margin-top: -200px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    user-select: none;
    background: #2a2b31;
  }

  .prev:hover, .next:hover {
    background-color: green;
}


.prev {
    position: relative;
    top: -20px;
    float: right;
}

.next {
    position: relative;
    float: right;
    top: 60px;
}

.ranking-number {
    position: absolute;
    background: #2a2a2a;
    font-size: 30px;
    top: 100px;
    left: 40px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.title-name {
    position: absolute;
    background: #2a2a2a;
    font-size: 60px;
    top: 200px;
    left: 40px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.trending-anime {
    position: relative;
}

.trending-anime img{
    height: 550px;
    width: 100%;
    object-fit: cover;
}

/* End Trending Animes */


/* Latest Anime Episodes  */

.container-episodes {
    position: relative;
}

.episode-header {
    top: 15px;
    color: white;
    position: relative;
    font-size: 35px;
    margin-left: 20px;
}

.latest-episodes {
    position: relative;

}

.episode-info {
    float: left;
    width: 20%;
    padding: 10px;
}

.title-episode{
    position: relative;
    float: right;
    top: 25px;
    left: 10x;
    background-color: #ff7e00;
    border-radius: 2px;
    padding: 0 10px;
    font-size: 20px;
    width: 130px;
}

.title-anime {
    position: relative;
    top: -30px;
    font-size: 20px;
    padding:0 5px;
    width: 100px;
    border-radius: 3px;
    background-color:#394257;

}

#episode-latest-image {
    width: 100%;
    margin: 1px;
    border-radius: 5px;
}

/* End Latest Anime Episodes  */

@media screen and (max-width: 1331px) {
    .episode-info {
        width: 25%;
    }
  }

@media screen and (max-width: 1144px) {
    .episode-info {
        width: 340px;
    }
}

@media screen and (max-width: 1100px) {
    .episode-info {
        width: 50%;
    }
}

@media screen and (max-width: 630px) {
    .episode-info {
        width: 100%;
    }
}


.container-episodes::after {
    content: "";
    clear: both;
    display: table;
  }


  /* Latest Animes Added */

.container-anime {
    position: relative;
    width: 100%;
}

.anime-header {
    color: white;
    position: relative;
    font-size: 35px;
    margin-left: 20px;
}

.latest-episodes {
    position: relative;
}

.anime-title {
    position: relative;
    top: 25px;
    font-size: 20px;
    padding:0 5px;
    width: 100px;
    border-radius: 3px;
    color: white;
    background-color:#000000;
}

.info-anime {
    float: left;
    width: 16%;
    padding: 10px;
}

#anime-latest-image {
    width: 100%;
    margin: 1px;
    border-radius: 5px;
}

  /* End of Latest Animes Added  */


@media screen and (max-width: 1300px) {
    .info-anime {
        width: 20%;
    }
}

@media screen and (max-width: 1080px) {
    .info-anime {
        width: 25%;
    }
}

@media screen and (max-width: 620px) {
    .info-anime {
        width: 40%;
    }
}
.container-anime::after {
    content: "";
    clear: both;
    display: table;
  }

/* Footer */

.container-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: static;
    background: #111;
    text-align: center;
}

.copyright {
    color: white;
}

.disclaimer { 
    color: white;
}

/* End Footer */
